html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto; /*0 margin top & bottom*/
	padding: 0;
}

.topbar {
	width: 100%;
	height: 14.3%;
	padding-top: 2%;
	padding-left: 2%;
	background-color: #D4D4D4;
}

.topbox {
	width: 13%;
	height: 80%;
	max-width: 120px;
	min-width: 50px;
	max-height: 120px;
	min-height: 50px;
	position: relative;
	background-color: blue;
}

.bar2 {
	width: 100%;
	height: 14.3%;
	display: block;
	background-color: white;
}

h2 {
	margin: 14% auto 7% 7%;
	text-align: top;
}

.bar3 {
	width: 100%;
	height: 14.3%;
	display: block;
	background-color: #3399FF;
}

.bar4 {
	width: 100%;
	height: 14.3%;
	display: block;
	background-color: #00FFCC;
}

.bar5 {
	width: 100%;
	height: 14.3%;
	display: block;
	background-color: #85E085;
}

.bar6 {
	width: 100%;
	height: 14.3%;
	display: block;
	background-color: #DBDB4D;
}
